body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: rgb(240, 240, 240);
}

.kanban-board {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}

.kanban-column {
  flex: 1;
  padding: 0px 10px;
}

.column-header1 {
  position: relative;
}

.column-header3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  height: 26px;
}

.column-header4 {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 26px;
}

.no-of-tickets {
  font-weight: 100;
  color: gray;
}

.avatar-image {
  width: 24px;
  height: 26px;
  border-radius: 50%;
}

.availability-indicator-app {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4px;
  font-weight: bold;
}

.available {
  background-color: #4CAF50;
  color: white;
}

.not-available {
  background-color: #ccc;
}